$color-1 : #fff;
$primary-color : #00a3e3;
$secondary-color : #0099ff;
$color-2 : #01c2d3;
$shadow-color: #eee;

$widget-1: $secondary-color;
$widget-2: #03b4e0;
$widget-3: #01c2d4;
$widget-4: #00d4c6;

$light-1: #fff;
$light-2: #d5dce2;
$light-3: #c5ccd2;
$light-4: #e6eaed;
$ligth-5: #ebebeb;
$ligth-6: #f5f5f5;


$text-color-1: #333;
$text-color-2: #111;
