{% extends '../login-layout.html' %}

{% block title %}Log in - Hackaton Campus Party{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="login-wrapper">
	<form action="/forgotten-password" method="POST">
		<div class="login-form">
			<div class="login-header">
				<h4>Recuperar password</h4>
			</div>

			<p>Ingresa tu email para recibir instrucciones de como recuperar tu password.</p>

			{% if success %}
				<p class="has-success">{{ success }}</p>
			{% endif %}

			<div class="form-group">
				<p class="label-over-input">
					<label>Email</label>
				</p>
				<input type="email" name="email" class="form-control login-field" value="" placeholder="Email" id="login-name" required="true">
			</div>

			<input type="hidden" name="_csrf" value="{{ csrf }}">

			<button class="btn btn-lg btn-block btn-primary" type="submit">Recuperar</button>
		</div>
	</form>
</div>
{% endblock %}